In [34]:
! pip install ufl
import os
import pandas as pd
from ufl import replace

Collecting ufl
  Downloading UFL-2017.1.0.tar.gz (301 kB)
Requirement already satisfied: numpy in c:\users\danish\appdata\local\programs\python\python37-32\lib\site-packages (from ufl) (1.17.4)
Requirement already satisfied: six in c:\users\danish\appdata\roaming\python\python37\site-packages (from ufl) (1.12.0)
Building wheels for collected packages: ufl
  Building wheel for ufl (setup.py): started
  Building wheel for ufl (setup.py): finished with status 'done'
  Created wheel for ufl: filename=UFL-2017.1.0-py3-none-any.whl size=290096 sha256=c32a15575599352a8a4dffe84875a406807faf425877016b975073dca2d4654b
  Stored in directory: c:\users\danish\appdata\local\pip\cache\wheels\0f\99\88\13f9480bc59a5464386b6a26a451293cb5dd9653de1dc9e32c
Successfully built ufl
Installing collected packages: ufl
Successfully installed ufl-2017.1.0

In [35]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.join(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR,'movies_box_office_dataset.csv')

In [36]:
df = pd.read_csv(working_file)

In [37]:
df.head(n=1000)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Star Wars: Episode I - The Phantom Menace,"$924,305,084","$431,088,295",46.6%,"$493,216,789",53.4%,1999.csv,1999
1,2,The Sixth Sense,"$672,806,292","$293,506,292",43.6%,"$379,300,000",56.4%,1999.csv,1999
2,3,Toy Story 2,"$487,059,677","$245,852,179",50.5%,"$241,207,498",49.5%,1999.csv,1999
3,4,The Matrix,"$463,517,383","$171,479,930",37%,"$292,037,453",63%,1999.csv,1999
4,5,Tarzan,"$448,191,819","$171,091,819",38.2%,"$277,100,000",61.8%,1999.csv,1999
...,...,...,...,...,...,...,...,...,...
995,233,Ashoka the Great,"$1,340,718","$731,277",54.5%,"$609,441",45.5%,2001.csv,2001
996,234,Storytelling,"$1,318,945","$921,445",69.9%,"$397,500",30.1%,2001.csv,2001
997,235,Yamakasi,"$1,297,401","$184,441",14.2%,"$1,112,960",85.8%,2001.csv,2001
998,236,The Business of Strangers,"$1,287,598","$1,030,920",80.1%,"$256,678",19.9%,2001.csv,2001
999,237,The Believer,"$1,274,112","$416,925",32.7%,"$857,187",67.3%,2001.csv,2001

In [38]:
df['Rank'] = -1

In [39]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,Star Wars: Episode I - The Phantom Menace,"$924,305,084","$431,088,295",46.6%,"$493,216,789",53.4%,1999.csv,1999
1,-1,The Sixth Sense,"$672,806,292","$293,506,292",43.6%,"$379,300,000",56.4%,1999.csv,1999
2,-1,Toy Story 2,"$487,059,677","$245,852,179",50.5%,"$241,207,498",49.5%,1999.csv,1999
3,-1,The Matrix,"$463,517,383","$171,479,930",37%,"$292,037,453",63%,1999.csv,1999
4,-1,Tarzan,"$448,191,819","$171,091,819",38.2%,"$277,100,000",61.8%,1999.csv,1999

In [40]:
df['Domestiic %'] = df['%']

In [41]:
df['Foreign %'] = df['%.1']

In [42]:
df

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestiic %,Foreign %
0,-1,Star Wars: Episode I - The Phantom Menace,"$924,305,084","$431,088,295",46.6%,"$493,216,789",53.4%,1999.csv,1999,46.6%,53.4%
1,-1,The Sixth Sense,"$672,806,292","$293,506,292",43.6%,"$379,300,000",56.4%,1999.csv,1999,43.6%,56.4%
2,-1,Toy Story 2,"$487,059,677","$245,852,179",50.5%,"$241,207,498",49.5%,1999.csv,1999,50.5%,49.5%
3,-1,The Matrix,"$463,517,383","$171,479,930",37%,"$292,037,453",63%,1999.csv,1999,37%,63%
4,-1,Tarzan,"$448,191,819","$171,091,819",38.2%,"$277,100,000",61.8%,1999.csv,1999,38.2%,61.8%
...,...,...,...,...,...,...,...,...,...,...,...
12927,-1,Burden,"$139,270","$139,270",100%,-,-,2020.csv,2020,100%,-
12928,-1,"14 Days, 12 Nights","$122,806","$122,530",99.8%,$276,0.2%,2020.csv,2020,99.8%,0.2%
12929,-1,First Cow,"$101,068","$101,068",100%,-,-,2020.csv,2020,100%,-
12930,-1,Run,"$4,052",-,-,"$4,052",100%,2020.csv,2020,-,100%
12931,-1,A Quiet Place Part II,$159,-,-,$159,100%,2020.csv,2020,-,100%

In [49]:
df.drop(['%','%.1'],axis=1)

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestiic %,Foreign %
0,-1,Star Wars: Episode I - The Phantom Menace,"$924,305,084","$431,088,295","$493,216,789",1999.csv,1999,46.6%,53.4%
1,-1,The Sixth Sense,"$672,806,292","$293,506,292","$379,300,000",1999.csv,1999,43.6%,56.4%
2,-1,Toy Story 2,"$487,059,677","$245,852,179","$241,207,498",1999.csv,1999,50.5%,49.5%
3,-1,The Matrix,"$463,517,383","$171,479,930","$292,037,453",1999.csv,1999,37%,63%
4,-1,Tarzan,"$448,191,819","$171,091,819","$277,100,000",1999.csv,1999,38.2%,61.8%
...,...,...,...,...,...,...,...,...,...
12927,-1,Burden,"$139,270","$139,270",-,2020.csv,2020,100%,-
12928,-1,"14 Days, 12 Nights","$122,806","$122,530",$276,2020.csv,2020,99.8%,0.2%
12929,-1,First Cow,"$101,068","$101,068",-,2020.csv,2020,100%,-
12930,-1,Run,"$4,052",-,"$4,052",2020.csv,2020,-,100%
12931,-1,A Quiet Place Part II,$159,-,$159,2020.csv,2020,-,100%

In [50]:
df = df.drop(['%','%.1'],axis=1)

In [51]:
df.head(5)

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestiic %,Foreign %
0,-1,Star Wars: Episode I - The Phantom Menace,"$924,305,084","$431,088,295","$493,216,789",1999.csv,1999,46.6%,53.4%
1,-1,The Sixth Sense,"$672,806,292","$293,506,292","$379,300,000",1999.csv,1999,43.6%,56.4%
2,-1,Toy Story 2,"$487,059,677","$245,852,179","$241,207,498",1999.csv,1999,50.5%,49.5%
3,-1,The Matrix,"$463,517,383","$171,479,930","$292,037,453",1999.csv,1999,37%,63%
4,-1,Tarzan,"$448,191,819","$171,091,819","$277,100,000",1999.csv,1999,38.2%,61.8%

In [57]:
def claen_col(row):
    row['Worldwide'] = row['Worldwide'].replcae
    return row
df = df.apply(clean_col,axis=1)
df.head(n=5)

AttributeError: 'str' object has no attribute 'items'